.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.user {
  border: 3px solid rgb(255, 5, 5);
  border-radius: 20px;
  background-color: #f4f1f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 200px;
  margin: 10px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 12px;
  margin: 18px;
  border-radius: 5px;
  border: 1px solid #cd07ff;
  color: #30001c;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #18ce00;
}

.paginationActive a {
  color: white;
  background-color: #17a2ff;
}

.paginationDisabled a {
  color: white;
  background-color: rgb(58, 103, 187);
}
